#message {
  margin: 0;
  overflow: hidden;
}

circle {
  fill: red;
  opacity: 0.5;
}

text {
  font-size: 1.6em;
  font-family: sans-serif;
}

.tick text {
  fill: #635f5d;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  font-size: 4em;
  fill: #8e8883;
}

.title {
  font-size: 3.5em;
  fill: #635f5d;
}
